html
  height:100%;
body
  box-sizing:border-box;
  height:100%
  padding:0
  margin:0
  font-size: 14px;
ul
  margin:0
  padding:0 
  list-style:none 
*
  box-sizing:border-box;

.main-text {
  color: #303133 !important;
}
.normal-text {
  color: #606266 !important;
}
.second-text {
  color: #909399 !important;
}
.seat-text {
  color: #C0C4CC !important;
}

.white-second-text {
  color: rgba(247, 242, 232, 0.6) !important; 
}

.white-normal-text {
  color: #ffffff !important; 
}

.mg-l-20 {
  margin-left: 20px !important;
}

.mg-l-10 {
  margin-left: 10px !important;
}

