.index-cm-lay {
  width: 100%;
  height: 100%;
  padding: 0 .24rem .08rem;
  background: rgba(22, 32, 46, 0.67);
}

.main-right {
  position: absolute;
  top: 0;
  bottom: .16rem;
  left: 2.44rem;
  right: .24rem;
}
.count-list {
  margin-right: -8px;
  height: .87rem;
}
.count-list li {
  float: left;
  width: 14.2857%;
  padding-right: 8px;
}
.count-list .li-box {
  height: .87rem;
  padding-top: .15rem;
  background: rgba(30, 88, 194, 0.77);
  text-align: center;
  color: #fff;
}
.count-list .number {
  font-size: .3rem;
  font-family: "DINAlternate-Bold";
}
.index-h2 {
  position: relative;
  padding-top: .16rem;
  padding-bottom: .16rem;
  font-size: .18rem;
  line-height: .3rem;
  font-weight: bold;
  text-align: left;
}
.percent-list {
  padding-top: .16rem;
}
.percent-list li {
  position: relative;
  height: .3rem;
  padding: .06rem .2rem 0 .7rem;
  padding-top: .1rem;
}
.percent-list .city-name {
  position: absolute;
  left: 0;
  top: 0;
}
.percent-bg {
  height: .08rem;
  background: rgba(255, 255, 255, 0.11);
}
.percent-bg .percent {
  height: 100%;
  background: #A56DFF;
}
.alarm {
  height: .7rem;
  padding-left: .7rem;
  margin-right: 1rem;
  font-size: .14rem;
  color: #84C2F0;
  display: inline-block;
}
.alarm.bg-danger {
  background: url("./../../assets/danger.svg") no-repeat left center;
  background-size: .5rem .5rem;
}
.alarm.bg-wran {
  background: url("./../../assets/i-warning.svg") no-repeat left center;
  background-size: .5rem .5rem;
}
.alarm .number {
  font-size: .28rem;
  font-family: "DINAlternate-Bold";
  font-weight: bold;
  color: #fff;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.fw-b {
  font-weight: bold;
}
.ml-7 {
  margin-left: .07rem;
}
.am-pt-16 {
  padding-top: .16rem;
}
.am-mt-24 {
 
}
.index-tb {
  width: 100%;
}
.index-tb th,
.index-tb td {
  padding: 0.12rem 0.16rem;
}
.index-tb th {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: left;
  font-weight: bold;
}
.index-tb td {
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
}
.index-tb tr.active td {
  background: rgba(255, 0, 109, 0.1);
  color: #FF006D;
}
.am-btn-rdo {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  height: 0.32rem;
}
.am-btn-rdo a {
  padding: 0 .05rem;
  border: 1px solid #1e58c2;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  font-size: 0.14rem;
  min-width: 0.8rem;
  line-height: 0.3rem;
  border-left: none;
  text-align: center;
  font-weight: bold;
}
.am-btn-rdo a:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.04rem 0 0 0.04rem;
  box-shadow: none!important;
}
.am-btn-rdo a:last-child {
  border-radius: 0 0.04rem 0.04rem 0;
}
.am-btn-rdo a:hover {
  border-color: rgba(255, 255, 255, 0.2);
  box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.2);
  color: #fff;
}
.am-btn-rdo a.active {
  background: #1e58c2;
  color: #fff;
  border-color: #1e58c2;
  box-shadow: -1px 0 0 0 #1e58c2;
}
.am-ctr-sel {
  display: inline-block;
  position: relative;
  width: 1.28rem;
  height: .32rem;
  font-size: .14rem;
  vertical-align: middle;
}
.am-ctr-sel .caption {
  border-radius: .04rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
  padding: 0 .26rem 0 .1rem;
  position: relative;
  line-height: .28rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.85);
  background: rgba(255, 255, 255, 0.06);
}
.am-ctr-sel .caption:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: .1rem;
  
  width: .2rem;
  height: .1rem;
  background: url(./../../assets/i-select.svg) no-repeat center center;
  background-size: .2rem auto ;
  transition: transform .3s;
}
.am-ctr-sel .caption:focus,
.am-ctr-sel .caption:hover {
  color: #fff;
}
.am-ctr-sel li {
  display: block;
  padding: .04rem .1rem;
  color: rgba(255, 255, 255, 0.6);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.am-ctr-sel li:hover {
  background: #16202e;
}
.am-ctr-sel li.disabled {
  cursor: no-drop;
  color: #a5a5a5;
  background: none;
}
.am-ctr-sel li.active {
  color: #fff;
}
.am-ctr-sel .am-dropdown {
  width: 100%;
  max-height: 2.1rem;
  overflow: auto;
}
.am-ctr-sel.open .caption {
  border-radius: .02rem .02rem 0 0;
}
.am-ctr-sel.open .caption:before {
  transform: rotate(180deg);
}
.am-dropdown {
  display: none;
  z-index: 1050;
  position: absolute;
  border-radius: 0 0 .02rem .02rem;
  background: #16202E;
  box-shadow: 0 0.02rem 0.02rem 0 rgba(0, 0, 0, 0.12);
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: amSlideUpIn;
  animation-name: amSlideUpIn;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: none;
  padding-top: .04rem;
}
.open > .am-dropdown {
  display: block;
}
.sel-disabeld .caption {
  border-color: #d2d2d2;
  background: #F3F3F3;
  color: #a5a5a5;
  cursor: no-drop;
}
.sel-disabeld .caption:focus {
  border-color: #d2d2d2;
}
.sel-disabeld.open .am-dropdown {
  display: none;
}
.sel-disabeld.open .caption {
  border-color: #d2d2d2;
  border-radius: .02rem;
}
.sel-disabeld.open .caption:before {
  transform: none;
}
.input-text {
  display: inline-block;
  width: 100%;
  height: .32rem;
  padding: .06rem .1rem;
  font-size: .14rem;
  line-height: normal;
  color: #333;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d2d2d2;
  border-radius: .04rem;
  outline: none;
  vertical-align: middle;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.input-text:focus {
  border-color: #108ee9;
}
.input-text.input-date {
  color: #fff;
  width: 3rem;
  padding-right: .3rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.06) url(./../../assets/i-calendar.png) no-repeat 95% center;
}
.input-text.disabled {
  border-color: transparent;
}
